*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* for all section  */
.primary{
    color: #FF42A5 ;
}
.primary-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 0px;
    padding-bottom: 10px;
}
.btn-primary{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
    display: inline-flex;
    padding: 15px 40px;
    align-items: flex-start;
    border: none;
}
/* navbar section starts here  */
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-title{
    display: flex;
    width: 50%;
    margin: 20px;
    gap: 10px;
}
.logo-title img{
    width: 80px;
    object-fit: cover;
}
.logo-title h1{
    font-size: 30px;
}
.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-items a{
    text-decoration: none;
    color: #1d1d1f;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.follow-btn{
   background-color: rgba(11, 2, 35, 0.10);
   border-radius: 8px;
   padding: 10px 24px;
}
/* nav section ends here  */
/* banner section starts here  */
.banner-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
.banner-content{
    width: 50%;
    /* background-image: url('../images/Group\ 14.png');
    width: 901px;
    height: 700px; */
    padding-top: 160px;
}
.banner-img{
    width: 100%;

}
.first-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    padding-top: 10px;
}
.second-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}
#go-btn{
    margin-left:20px;
    border-radius: 48px;
    background: #4EC5F7;
}
/* banner section ends here  */
/* online games section starts here  */
.game-container{
    margin: 100px 250px;
}
.game-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
.color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;    
    font-weight: 700;
}
.title-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.game-img{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.game-description{
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}
.play-button {
    position: absolute;
    transform: translate(200%, -300%); 
    font-size: 30px;
    color: grey;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    opacity: 0; 
    cursor: pointer;
}
.img-three:hover .play-button {
    opacity: 1; /* Show on hover */
}
/* online games section ends here  */

























/* responsive media query  */
/* for mobile device */
@media screen and (max-width:576px) {
    .nav-container, .nav-items, .banner-container, .game-img
    {
        flex-direction: column;
    }
    .nav-items a{
        margin-top: 20px;
    }
    .banner-content, .banner-img img{ 
        width: 100%;
    }
    .banner-content{
       text-align: center;
    }
    .game-container{
        text-align: center;
        margin:auto;
    }
    .game-title{
        margin-top: 70px;
    }
    .game-description{
        margin-left: 50px;
    }
}